{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Accueil{% endblock %}

{% block body %}

    <h2 class="text-center text-2xl font-semibold mx-5 text-black">{{ title }}</h2>

{% endblock %}
