{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Liste{% endblock %}

{% block body %}

    <h2 class="text-center">Evénements</h2>

    {% for event in events %}
        <p>{{ event.name }}</p>
    {% endfor %}

{% endblock %}